<form [formGroup]='youtubeForm' (ngSubmit)='onSubmit(youtubeForm.value)' class="form" >

  <h5>Enter a YouTube Link or URL 👇</h5>
  <div class="input-group mb-3">
    <input
      class="form-control"
      type="text"
      formControlName='videoUrl'
      placeholder=""
    >
    <div class="input-group-append">
      <button
        class="btn btn-primary"
        type="submit"
        id="button-addon2"
        [disabled]="isDisabled"
      >
        Go!!!
      </button>
    </div>
  </div>
</form>
