<div class="form-wrapper">
  <form [formGroup]='youtubeForm' (ngSubmit)='onSubmit(youtubeForm.value)' class="form" >
    <h4>Enter a YouTube Link or URL 👇</h4>
    <div class="input-group mb-3">
      <input
        class="form-control"
        type="text"
        formControlName='videoUrl'
        placeholder=""
      >
      <div class="input-group-append">
        <button
          class="btn btn-primary"
          type="submit"
          id="button-addon2"
          [disabled]="isDisabled"
        >
          Go!!!
        </button>
      </div>
    </div>
  </form>
</div>

<div class="lds-dual-ring" id="loader"></div>
