<!-- <div *ngIf="isShow">

    <li *ngFor="let comment of commentData.comments">
        {{comment.j | json}}

    </li>

</div> -->


<div class="d-flex flex-row bd-highlight mb-3 sentiments">
    <div class="p-2 bd-highlight bad column">
        <h3>BAD 😡</h3>
        <ul>
            <li *ngFor="let comment of negativeComments">{{comment.value + comment.emoji}}<span *ngIf=commen></span></li>    
        </ul>
    </div>
    <div class="p-2 bd-highlight good column">
        <h3>GOOD 😊</h3>
        <ul>
            <li *ngFor="let comment of positiveComments">{{comment.value + comment.emoji}}</li>
        </ul>
    </div>
  </div>



