ul {
    list-style-type: none;
}

li {
    text-align: left;
    color: #f8f9fa;
    display: flex;
}

.feat {
    display: flex;
    justify-content: center;
}
.text {
    width: 97%;
}
.emoji {   
    font-size: 32px;
    margin: 0 10px 0 10px;
    width: 3%;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}
.sentiments {
    border-radius: 5px;
}

/* getCardGradient = ({sentiment}) => ({
    color: getColorFor(sentiment),
    emoji: getEmojiFor(sentiment)
}) */

/* 
GOOD 

COLORS

#7AD7F0

#92DFF3

#B7E9F7

#DBF3FA

#F5FCFF

EMOJIS

😆
😄
😁
😀
🙂

BAD

COLORS

#dc2d24

#EA4C46

#F07470

#F1959B

#F6BDC0
 */