<div *ngIf="isShow">

    <li *ngFor="let comment of commentData.comments">
        {{comment | json}}

    </li>

</div>


<!-- <div class="d-flex flex-row bd-highlight mb-3 sentiments">
    <div class="p-2 bd-highlight bad column">
        <h3>BAD 😡</h3>
        <ul>    
            <li class="worst">Y’all are saying Dom needs to “apologize “ nah, he needs to go to prison WTF. This is not some internet scandal it’s a RAPE!</li>
            <li>“dom has to apologize”<br> no bro he need to go jail this isn’t some scandal this is a CRIME</li>
            <li>I’m here very late but WTF he uploaded!</li>
            <li>Dom needs to be held accountable for what he did, even when david is partly to blame, dom committed the crime and him restricting his dms isnt going to make it disappear. He needs to be held accountable</li>
            <li>I can't imagine how to victims are going through right now. This must be so horrible for them.</li>
        </ul>
    </div>
    <div class="p-2 bd-highlight good column">
        <h3>GOOD 😊</h3>
        <ul>
            <li>{{commentData?.comments | async}}</li>
            <li class="best">I've been sexually assaulted and if that person were to make a video like this (I'm not saying all experiences are the same; all trauma is unique) then I would feel nothing and no personal healing would come from it. The only healing that could come out of this is for future situations. Situations like this, where such awareness is raised, can allow people the opportunity to educate themselves more about consent and SA/SH/R. Peace and love to all survivors; you are all beautiful and deserving of love. &lt;3</li>
            <li>13 Reasons Why? Please help get justice for those girls. An apology isn't enough without actions.</li>
            <li>I’m here to support you through this David. Thank you for apologizing and clearing the air. Your fans are with you through this, it’ll be okay:)</li>
            <li>I love how he is trying to play the victim slowly</li>
            <li>THIS VIDEO wouldn't BE possibly WITH OUT HONEY 😌😌</li>
        </ul>
    </div>
  </div>

 -->

